<div class="main">

    <app-page-title activeLinkTitle="Рейтинг спортсменов" title="Рейтинг спортсменов"></app-page-title>
    <div class="container">

        <div class="ratings table-responsive">
            <table class="table table-striped table-borderless table-hover">
                <thead>
                <tr>
                    <th scope="col">Ранг</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Клуб</th>
                    <th scope="col">Дисциплина</th>
                    <th scope="col">Уровень</th>
                    <th scope="col">Балы</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
<!--                <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">-->
                <tr>
                    <td class="rang">
                        1
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        2
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        3
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        4
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        5
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        6
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>
                <tr>
                    <td class="rang">
                        7
                    </td>
                    <td>
                        <div class="media">
                            <div class="circular--landscape">
                                <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
                            </div>
                            <div class="media-body">
                                    Алишер <br/>
                                    Жумахмет
                            </div>
                        </div>
                    </td>
                    <td class="level">
                        Климб
                    </td>
                    <td class="place">
                        <span class="blue">Скала</span>
                    </td>
                    <td class="level">КМС</td>
                    <td class="rank">1050</td>
                    <td class="direction"><</td>
                </tr>

                </tbody>
            </table>

<!--            <nav class="ng2-smart-pagination-nav">-->
<!--                <ul class="ng2-smart-pagination pagination">-->
<!--                    <li class="ng2-smart-page-item page-item disabled"><a-->
<!--                        aria-label="First"-->
<!--                        class="ng2-smart-page-link page-link"-->
<!--                        href="#"><span-->
<!--                        aria-hidden="true">«</span><span class="sr-only">First</span></a></li>-->
<!--                    <li class="ng2-smart-page-item page-item disabled"><a-->
<!--                        aria-label="Prev"-->
<!--                        class="ng2-smart-page-link page-link page-link-prev"-->
<!--                        href="#"><span-->
<!--                        aria-hidden="true">&lt;</span><span class="sr-only">Prev</span></a></li>&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-for-of": "1,2,3"-->
<!--        }&ndash;&gt;-->
<!--                    <li class="ng2-smart-page-item page-item active">&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "true"-->
<!--        }&ndash;&gt;<span class="ng2-smart-page-link page-link">1 <span-->
<!--                        class="sr-only">(current)</span></span>&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "false"-->
<!--        }&ndash;&gt;</li>-->
<!--                    <li class="ng2-smart-page-item page-item"-->
<!--                    >&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "false"-->
<!--        }&ndash;&gt;&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "true"-->
<!--        }&ndash;&gt;<a class="ng2-smart-page-link page-link" href="#">2</a></li>-->
<!--                    <li class="ng2-smart-page-item page-item"-->
<!--                    >&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "false"-->
<!--        }&ndash;&gt;&lt;!&ndash;bindings={-->
<!--          "ng-reflect-ng-if": "true"-->
<!--        }&ndash;&gt;<a class="ng2-smart-page-link page-link" href="#">3</a></li>-->
<!--                    <li class="ng2-smart-page-item page-item"-->
<!--                    ><a aria-label="Next"-->
<!--                        class="ng2-smart-page-link page-link page-link-next" href="#"><span-->
<!--                        aria-hidden="true">&gt;</span><span class="sr-only">Next</span></a></li>-->
<!--                    <li class="ng2-smart-page-item page-item"-->
<!--                    ><a aria-label="Last"-->
<!--                        class="ng2-smart-page-link page-link" href="#"><span-->
<!--                        aria-hidden="true">»</span><span class="sr-only">Last</span></a></li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--            TODO: items.length-->
            <ngb-pagination
                class="d-flex justify-content-center"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                collectionSize="20"
            ></ngb-pagination>
        </div>
    </div>
</div>
