h2 {
  text-transform: uppercase;
  font-size: 26px;
  color: #2b5205;
  margin-bottom: 20px;
    font-weight: 300;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.associates {
  margin-bottom: 72px;
}
