<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            Таблица новостей
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Таблица новостей</li>
        </ol>
    </div>
</div>
<!--<div class="card mb-3">-->
<!--    <div class="card-header">Новости</div>-->
<!--    <div class="card-body table-responsive">-->
<!--        <table class="table table-hover table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Имя</th>-->
<!--                <th>Ссылка</th>-->
<!--                <th>SEO хэштег</th>-->
<!--                <th>SEO заголовок</th>-->
<!--                <th>SEO ключевые слова</th>-->
<!--                <th>SEO описание</th>-->
<!--                <th>Создана</th>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <ng-container *ngFor="let s of news">-->
<!--                <tr (click)="select(s)">-->
<!--                    <td>{{s.name}}</td>-->
<!--                    <td>{{s.slug}}</td>-->
<!--                    <td>{{s.seo_hashtag}}</td>-->
<!--                    <td>{{s.seo_title}}</td>-->
<!--                    <td>{{s.seo_keywords}}</td>-->
<!--                    <td>{{s.seo_description}}</td>-->
<!--                    <td>{{s.created_at | date}}</td>-->
<!--                </tr>-->
<!--            </ng-container>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->


<ng2-smart-table [settings]="settings" [source]="source"
                 (userRowSelect)="select($event)"
                 (deleteConfirm)="onDeleteConfirm($event)"
                 (editConfirm)="onSaveConfirm($event)"
                 (createConfirm)="onCreateConfirm($event)"
></ng2-smart-table>
