<div class="container">
<div class="header" routerLink="/home">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-5 social-media">
      <div>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                              <i class="fa fa-facebook-f" style="font-size: 1.2em;"></i>
<!--              <img src="/assets/home/f.png" alt="...">-->
            </a>
          </li>
          <li class="list-inline-item ins">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                              <i class="fa fa-instagram"></i>
<!--              <img src="/assets/home/ins.png" alt="...">-->
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                              <i class="fa fa-youtube" style="font-size: 1.2em;"></i>
<!--              <img src="/assets/home/youtube.png" alt="...">-->
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                              <i class="fa fa-vk" style="font-size: 1.2em;"></i>
<!--              <img src="/assets/home/vk.png" alt="...">-->
<!--              <img src="/assets/home/vk-brands.svg" alt="..." style="font-size: 0.8em;">-->
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-5 text-md-right">
      <a class="btn-floating btn-sm rgba-white-slight search">
<!--        <img src="/assets/home/search.png" alt="...">-->
          <i class="fa fa-search"></i>
      </a>
      <div class="vertical-line">
        Привет, <span class="name">Антон</span>
        <div class="circular--landscape">
          <img src="/assets/test/art1.jpg" class="mr-3" alt="...">
        </div>
      </div>
<!--      <nb-action class="control-item">-->
<!--        <nb-search type="rotate-layout" ng-reflect-type="rotate-layout" class="ng-star-inserted">-->
<!--          <button class="start-search"><i class="nb-search"></i>-->
<!--          </button>-->
<!--        </nb-search>-->
<!--      </nb-action>-->
    </div>
  </div>
</div>
</div>
